sourceSchemas/schema3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="order">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="orderNumber" type="xs:decimal"/>
      <xs:element name="customerName" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
      <xs:simpleType name="totalPrice">
        <xs:restriction base="xs:int">
            <xs:totalDigits value="2"/>
        </xs:restriction>
       </xs:simpleType>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>