sourceSchemas/student.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- XML Schema generated by QTAssistant/XSD Module (http://www.paschidev.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="World">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Student" maxOccurs="unbounded"/>   
                <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>          
        </xs:complexType>
        <xs:key name="PKStudents">
            <xs:selector xpath="Student/StudentID"/>
            <xs:field xpath="."/>
        </xs:key>
        <xs:key name="PKAddresses">
            <xs:selector xpath="Address/AddressID"/>
            <xs:field xpath="."/>
        </xs:key>
        <xs:keyref name="FKStudentToAddress" refer="PKAddresses">
            <xs:selector xpath="Student/AddressID"/>
            <xs:field xpath="."/>
        </xs:keyref>
    </xs:element>
    <xs:element name="Student">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="xs:string"/>
                <xs:element name="FirstName" type="xs:string"/>
                <xs:element name="LastName" type="xs:string"/>
                <xs:element name="Dateborn" type="xs:date"/>
                <xs:element name="Gender" type="xs:string"/>
                <xs:element name="StudentID" type="xs:string"/>
                <xs:element name="AddressID" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AddressID" type="xs:string"/>
                <xs:element name="Street" type="xs:string"/>
                <xs:attribute name="City" type="xs:string" default="KHI"/>
                <xs:element name="Province" type="xs:string" minOccurs="0"/>
                <xs:element name="Country" type="xs:date" minOccurs="0"/>
                <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>